body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    background-color: #0f3460;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #e94560;
    color: white;
}

li a:hover:not(.active) {
    background-color: #1a1a2e;
    color: white;
}
