div p.middle{
  border:1px dashed;
  border-color: purple;
  padding: 15% 1% 1% 1%;
  margin: 0% 1% 0% 1%;
  text-align: center;
}

div p.greenMiddle{
  text-align:center;
  color: green;
  font-size: smaller;
}

div p.orange{
  color: orange;
  font-size: x-large;
}

.superRed{
  color: red;
  vertical-align: super;
}

div p.purple{
  color: purple;
  font-size: smaller;
  text-align: right;
}

.yellow{
  color: yellow;
  text-transform: uppercase;
  font-style: italic;
}
