body{
  background-color: #181818;
  font-weight: bold;
}

p{
  padding-top: 10px;
  text-align: center;
  font-family: Impact,sans-serif;
  font-size: 20px;
}

h1 {
  font-family: Impact,sans-serif;
  text-align: center;
}

h4 {
  text-align: left;
}

#imageOne {
position: fixed;
margin-left: 670px;
z-index: 10;
}

#wrapper {
  width: auto;
  height: auto;
  margin:auto auto;
  background-color: #06227D;
  border: #06227D 5px solid;

}

#header{
    height: 80px;
    width: 600px;
    background-color:#FFDB58;
    margin-left: 200px;
    margin-top: 15px;
    position: fixed;
    float: none;
    z-index: 2;
    }
#nav {
  background-color: white;
  width: 60px;
  height: 20;
  font-size: 10px;
  float:left;
  margin-top: 33px;
  margin-left: 200px;
  text-align: center;
  z-index: 1;
}
#leftcontent{
  height:300px;
  width: 250px;
  background-color:#FFDB58;
  margin-left:100px;
  margin-top: 210px;
  float:left;
}

#midcontent {
  height: 300px;
  width: 250px;
  background-color: #FFDB58;
 margin-top: 210px;
 margin-left: 375px;
}
