body{
  background-color: blue
}

.blue{
  border: black 3px solid;
  margin:15%;
}

.redText{
  font-family: arial;
  color: red;
  border: green 1px dashed;
  margin:10px;
}

.photo{
border: white 1px dashed;
padding: 15px;
}
